[package]
name = "reqwest-retry"
version = "0.1.6-alpha.0"
authors = ["Rodrigo Gryzinski <rodrigo.gryzinski@truelayer.com>"]
edition = "2018"
description = "Retry middleware for reqwest."
repository = "https://github.com/TrueLayer/reqwest-middleware"
license = "MIT OR Apache-2.0"
keywords = ["reqwest", "http", "middleware", "retry"]
categories = ["web-programming::http-client"]

[dependencies]
reqwest-middleware = { version = "0.1.7-alpha.0", path = "../reqwest-middleware" }

anyhow = "1"
async-trait = "0.1.51"
chrono = { version = "0.4.19", features = ["clock"], default-features = false }
futures = "0.3"
http = "0.2"
hyper = "0.14"
retry-policies = "0.1"
reqwest = { version = "0.11", default-features = false }
tokio = { version = "1.6", features = ["time"] }
tracing = "0.1.26"
task-local-extensions = "0.1.1"

[dev-dependencies]
wiremock = "0.5"
tokio = { version = "1", features = ["macros"] }
paste = "1"
async-std = { version = "1.10"}
