[package]
name = "reqwest-retry"
version = "0.1.2-alpha.0"
authors = ["Rodrigo Gryzinski <rodrigo.gryzinski@truelayer.com>"]
edition = "2018"
description = "Retry middleware for reqwest."
repository = "https://github.com/TrueLayer/reqwest-middleware"
license = "MIT OR Apache-2.0"
keywords = ["reqwest", "http", "middleware", "retry"]
categories = ["web-programming::http-client"]

[dependencies]
reqwest-middleware = { version = "0.1.1", path = "../reqwest-middleware" }

anyhow = "1"
async-trait = "0.1.51"
chrono = "0.4"
futures = "0.3"
http = "0.2"
retry-policies = "0.1"
reqwest = "0.11"
tokio = { version = "1.6", features = ["time"] }
tracing = "0.1.26"
truelayer-extensions = "0.1"

[dev-dependencies]
wiremock = "0.5"
tokio = { version = "1", features = ["macros"] }
paste = "1"
